Repository goulvenclech/AstroLingo, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, starter, pkg:core, pkg:games, devops

visual & schema improvements
  docs/astro.config.mjs
  docs/src/content/contribute/1-getting-started/1-new-project.md
  docs/src/content/contribute/1-getting-started/2-add-existing-project.md
  docs/src/content/contribute/1-getting-started/3-writing-content.md
  docs/src/content/contribute/1-getting-started/4-run-project.md
  docs/src/content/contribute/1-getting-started/index.md
  docs/src/content/docs/1-getting-started/1-new-project.md
  docs/src/content/docs/1-getting-started/2-add-existing-project.md
  docs/src/content/docs/1-getting-started/3-writing-content.md
  docs/src/content/docs/1-getting-started/4-run-project.md
  docs/src/content/docs/2-archetypes/1-content-blog.md
  docs/src/content/docs/2-archetypes/2-docs-content.md
  docs/src/content/refs/1-getting-started/1-new-project.md
  docs/src/content/refs/1-getting-started/2-add-existing-project.md
  docs/src/content/refs/1-getting-started/3-writing-content.md
  docs/src/content/refs/1-getting-started/4-run-project.md
  docs/src/content/refs/1-getting-started/index.md
  docs/src/styles/main.css
  packages/core/components/Card.astro
  packages/core/components/old/PageNavigation.astro
  packages/core/components/old/SidebarNavigation.astro
  packages/core/components/old/header/HeaderNavLink.astro
  packages/core/components/old/header/HeaderNavLinkExternal.astro
  packages/core/layouts/Header.astro
  packages/core/layouts/Layout.astro
  packages/core/layouts/PageNavigation.astro
  packages/core/layouts/SidebarNavigation.astro
  packages/core/pages/[...docs-content].astro
  packages/core/pages/blog.astro
  packages/core/pages/docs-content.astro
  packages/core/types.d.ts
  packages/core/utils/archetypes.ts
  packages/core/utils/collections-entries.ts
  packages/core/utils/collections-schemas.ts
  packages/core/utils/collections.ts
  packages/core/utils/navigation.ts
Labels: documentation, pkg:core

just a best styles api
  docs/src/content/docs/1-getting-started/4.custom-styles.md
  docs/src/content/docs/1-getting-started/5-run-project.md
  docs/src/content/docs/2-archetypes/1-content-blog.md
  docs/src/styles/main.css
  packages/core/components/Button.astro
  packages/core/components/Card.astro
  packages/core/index.ts
  packages/core/layouts/Header.astro
  packages/core/layouts/PageNavigation.astro
  packages/core/layouts/SidebarNavigation.astro
  packages/core/package.json
  packages/core/styles/base.css
  starter/src/content/config.ts
  starter/src/styles/main.css
Labels: documentation, starter, pkg:core

Layout renamed Astrolingo
  docs/src/pages/index.astro
  packages/core/layouts/Astrolingo.astro
  packages/core/pages/[...blog].astro
  packages/core/pages/[...docs-content].astro
  packages/core/pages/blog.astro
  packages/core/pages/docs-content.astro
  packages/core/pages/docs-openapi.astro
  starter/src/pages/index.astro
Labels: documentation, starter, pkg:core

docs-content: previous next navigation
  packages/core/pages/[...docs-content].astro
  packages/core/utils/navigation.ts
Labels: pkg:core

mobile nav
  docs/src/pages/index.astro
  packages/core/components/old/icons/HeroDraw.astro
  packages/core/layouts/Astrolingo.astro
  packages/core/layouts/Header.astro
  packages/core/layouts/HeaderNavigation.astro
  packages/core/layouts/PageNavigation.astro
  packages/core/layouts/SidebarNavigation.astro
  packages/core/pages/[...docs-content].astro
  packages/core/pages/docs-content.astro
  packages/core/styles/base.css
  starter/src/pages/index.astro
Labels: documentation, starter, pkg:core

feat: update dependencies and start guides
  docs/astro.config.mjs
  docs/package.json
  docs/src/content/blog/2024/release-0-2-mini-blog/index.md
  docs/src/content/blog/2024/release-0-3-mini-doc/index.md
  docs/src/content/blog/2024/release-alpha-hello-world/index.md
  docs/src/content/blog/2025/alpha-0-1-hello-world/index.md
  docs/src/content/config.ts
  docs/src/content/docs/1-getting-started/1-introduction.md
  docs/src/content/docs/1-getting-started/2-new-project.md
  docs/src/content/docs/1-getting-started/3-add-existing-project.md
  docs/src/content/docs/1-getting-started/4-writing-content.md
  docs/src/content/docs/1-getting-started/5-custom-styles.md
  docs/src/content/docs/1-getting-started/6-run-project.md
  docs/src/content/docs/3-advanced/1-mdx.md
  docs/src/content/docs/3-advanced/2-gamification.md
  docs/src/content/docs/3-advanced/index.md
  docs/src/content/guide/1-getting-started/1-introduction.md
  docs/src/content/guide/1-getting-started/index.md
  package.json
  packages/core/layouts/Header.astro
  packages/core/styles/base.css
  pnpm-lock.yaml
  starter/package.json
Labels: documentation, starter, pkg:core

chore: adjust test script
  package.json
  packages/core/utils/collections.test.ts
  test/stubs/astro-content.ts
  test/stubs/virtual-astrolingo-user-config.ts
  vitest.config.ts
Labels: pkg:core

feat(agents): contribution guidelines
  AGENTS.md
Labels: none

test: expand utils coverage
  package.json
  packages/core/utils/collections-entries.test.ts
  packages/core/utils/navigation.test.ts
Labels: pkg:core

tests: Vitest config with & generateCollections tests (#2)
  package.json
  packages/core/utils/collections-entries.test.ts
  packages/core/utils/collections.test.ts
  packages/core/utils/navigation.test.ts
  test/stubs/astro-content.ts
  test/stubs/virtual-astrolingo-user-config.ts
  vitest.config.ts
Labels: pkg:core

.github/labeler.yml:

# See https://github.com/actions/labeler

"documentation":
  - docs/**

"starter":
  - starter/**

"pkg:core":
  - packages/core/**

"pkg:games":
  - packages/games/**

"devops":
  - .github/**
  - .vscode/**
  - .gitignore
  - .npmrc
  - pnpm-workspace.yaml
  - .prettierrc
